@import "./partials/button";
@import "./partials/menu";
@import "./partials/content";
@import "./partials/form";
@import "./partials/table";


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

.app {
    position: fixed;
    height: 100%;
    width: 100%;
    display: flex;
}

.mb-20 {
    margin-bottom: 20px;
}

.mb-10 {
    margin-bottom: 10px;
}